---
import Icon from "astro-icon";
import { Image } from "astro:assets";
import AndresPardo from "../../../assets/img/andrespardo.jpeg";
import EdgarAcosta from "../../../assets/img/edgaracosta.jpeg";
import JonMaddogHall from "../../../assets/img/jonmaddoghall.jpeg";
import JuanDiegoHenao from "../../../assets/img/juanhenao.jpg";
import SaulVega from "../../../assets/img/saulvega.jpeg";
import XimenaHoffman from "../../../assets/img/ximenahoffman.jpeg";
const info = {
  title: "Testimonials",
  seeAll: {
    text: "See all in",
    url: "https://www.linkedin.com/in/judlup/details/recommendations/?detailScreenTabIndex=0",
    icon: "mdi:linkedin",
  },
  testimonials: [
    {
      name: 'Jon "Maddong" Hall',
      picture: JonMaddogHall,
      role: "Board Chair",
      company: "Linux Professional Institute",
      reference:
        "I have known Julian since he was in high school. He created a home automation project where he could control a whole model house from his android tablet, and it was extremely impressive. I gave him a Raspberry Pi to work into his model, which he did in a few weeks.",
    },
    {
      name: "Ximena Hoffmann",
      picture: XimenaHoffman,
      role: "Change Network Lead",
      company: "NEC Corporation",
      reference:
        "I had the opportunity to work with Julian at NEC, and he always proved to be a natural leader, with an excellent service attitude at all times. He is the kind of professional who helps to build as a team and find various ways to achieve the necessary results.",
    },
    {
      name: "Andrés Pardo",
      picture: AndresPardo,
      role: "Key Account Manager - Large Accounts",
      company: "Tatic",
      reference:
        "Julian is a quite active engineer, not only proficient in SW development arena, but also displays very good leading abilities adequate to lead agile teams. He's quite self driven, propositive, creative and has a entreprenurship mentality. Is always active, connecting, integrating, supporting, alwasy worried to help teams to be more effective. His personal skills are strengths helping him and his peers to build very productive teams and beat obstacles.",
    },
    {
      name: "Juan Diego Henao",
      picture: JuanDiegoHenao,
      role: "Desarrollador de Software",
      company: "Codesa",
      reference:
        "Julian Dario was a very important person for my professional development, demonstrating excellent leadership and broad knowledge in his field. With little help from others, he was capable of dealing with all the obstacles that stood in his way, with great organization and quality. He is a team player, always willing to help, and seldom has a bad response for others.",
    },
    {
      name: "Edgar Acosta",
      picture: EdgarAcosta,
      role: "Delivery and Operations Head",
      company: "NEC de Colombia",
      reference:
        "I had the good opportunity to get to know Julian at his period working for NEC. His work was of very positive and opportune impact for the projects my team was developing. I totally recommend Julian as an excellent resource for different kind of projects. Julie is a very creative person with a positive and 'Can Do' attitude all the time.",
    },
    {
      name: "Saúl Verga Ramírez",
      picture: SaulVega,
      role: "Software Engineer",
      company: "Rappi",
      reference:
        "Julian is a leader with a great ability to lead any team he is part of to success, as he knows quite well how to harmonize the task of solving tasks while being empathetic with his team members, always understanding the needs of each of his colleagues whom he leads, and knowing how to unite them to pool efforts and recognizing everyone's work. He also knows how to manage in relation to stakeholders and external teams and to communicate the requirements in such a way that his team can understand.",
    },
  ],
};
---

<div
  class="w-full mx-w-xl md:max-w-6xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-2"
>
  <div class="flex flex-col items-center pb-10 mt-8 flex-wrap">
    <span class="text-slate-900 font-bold md:text-2xl">{info.title}</span>
    <hr />
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-4">
      {
        info.testimonials.map((testimonial) => (
          <div class="flex flex-col items-center mt-4 bg-slate-50 rounded-md max-w-xs w-96">
            <Image
              src={testimonial.picture}
              alt={testimonial.name}
              class="w-24 h-24 md:w-32 md:h-32 rounded-full object-cover mt-4"
            />
            <h2 class="text-gray-800 dark:text-white text-md md:text-xl font-medium title-font mt-4">
              {testimonial.name}
            </h2>
            <div class="text-gray-500 dark:text-gray-300 text-xs md:text-sm font-semibold title-font uppercase mt-1">
              {testimonial.role}
            </div>
            <div class="text-gray-500 dark:text-gray-300 text-xs md:text-sm font-semibold title-font uppercase mt-1">
              {testimonial.company}
            </div>
            <div class="w-16 h-1 bg-blue-800 rounded mt-2 mb-4" />
            <p class="text-gray-600 dark:text-gray-400 px-10 mb-4 text-justify text-xs md:text-sm">
              {testimonial.reference}
            </p>
          </div>
        ))
      }
    </div>

    <div>
      <a
        href={info.seeAll.url}
        target="_blank"
        class="text-white bg-blue-900 hover:bg-blue-800 p-2 rounded-md inline-flex items-center mt-3"
      >
        {info.seeAll.text}
        <Icon name={info.seeAll.icon} class="w-6 h-6 ml-2" />
      </a>
    </div>
  </div>
</div>
